.footer {
  margin-top: 1rem;
  background-color: black;
  padding: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
  
    margin-left: 1rem;
    color: white;
}
button{
    border: 1px solid white;
    border-radius: 50%;
      width: 5vh;
      height: 5vh;
      margin-left: 1rem;
  }
  
}
  button:hover {
      display: block;
      background-color: white;
      cursor: pointer;
      color: green;
    }
  
  
  

