#nav {
  padding: 10px 10px;
  border-top: 1px solid salmon;
  margin: 77px 0 0 0;
  border-bottom: 1px solid black;
}

#nav button {
  padding: 6px 6px;
}

.goods_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: 400px 400px;
      grid-template-rows: 400px 400px;
  grid-auto-rows: 400px;
  grid-gap: 5px 5px;
  border: 1px solid black;
  padding: 5px;
}

div.goods_card {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  content: inherit;
}

div.goods_card > img {
  padding: 5px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  max-width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div#tabdiv {
  border: 1px double red;
}

div#tabdiv > div.tabs input {
  padding: 4px;
  outline: none;
}

div#tabdiv > div#London {
  background-color: red;
}

div#tabdiv > div#Tokyo {
  background-color: blue;
}

div#tabdiv > div#Rome {
  background-color: green;
}

.tabcontent {
  margin: 0 auto;
  color: white;
}

.tabcontent h3 {
  margin: 0 auto;
}

.tabs input {
  border: none;
}

.accordion {
  padding: 15px;
  background-color: #eee;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
}

.accordion:hover {
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.panel {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0 18px;
  display: none;
}

.topnav {
  background-color: #838383;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 47px;
  line-height: 47px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.icon {
  padding: 10px 10px;
  display: none;
  width: 47px;
  height: 47px;
}

.icon span {
  position: relative;
  top: 20px;
  left: 10px;
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
}

.icon span::before,
.icon span::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0px;
  width: 30px;
  height: 4px;
  background-color: #fdfdfd;
}

.icon span::after {
  top: 10px;
}

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.active {
  background-color: lawngreen;
  color: black;
}

a.active {
  background-color: lawngreen;
  color: black;
}

.valid {
  background-color: lawngreen;
}

.invalid {
  background-color: pink;
}

.sticky {
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container div {
  text-align: center;
  width: 14%;
  border: 1px solid red;
  padding: 1.5rem;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container div:nth-child(odd) {
  background-color: blue;
  color: white;
}

.container div:nth-child(1) {
  width: 100%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.container div:nth-child(2) {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.container div:nth-child(3) {
  width: 80%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.container div:nth-child(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.container div:nth-child(5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.left {
  background-color: red;
}

.right {
  background-color: red;
}

#filterCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -ms-grid-rows: minmax(200px, 1fr);
      grid-template-rows: minmax(200px, 1fr);
  grid-gap: 10px;
}

.content {
  border: 1px double black;
  font-size: 44px;
  text-align: center;
  line-height: 200px;
  display: none;
  border-radius: 4px;
  background-color: blueviolet;
}

.content:nth-child(odd) {
  background-color: peru;
}

.show {
  display: block;
}

#loader {
  display: none;
}

#newFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header,
#navflex,
#main,
#footer {
  margin: 5px;
  font-size: 44px;
  text-align: center;
}

#header {
  vertical-align: auto;
  width: 100%;
  background-color: orange;
  border: 1px solid #070303;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 160px;
}

#navflex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  height: auto;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: orange;
  border: 1px solid #0a0606;
}

#main {
  border: 1px solid #214cd8;
  -webkit-box-flex: 1;
      -ms-flex: 1 6 70%;
          flex: 1 6 70%;
  width: 100%;
}

#footer {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  border: 1px solid #214cd8;
  width: 100%;
  height: auto;
}

@media all and (max-width: 640px) {
  #newFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header, #footer {
    min-height: 15vh;
  }
}

#counter {
  font-size: 55px;
  position: absolute;
  top: 0px;
  left: 300px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}

input.visually-hidden:focus-within + label {
  outline: thin dotted;
}

#canvas600 {
  border: 1px groove black;
}
/*# sourceMappingURL=gap.css.map */