$green: red;

#nav {
    padding: 10px 10px;
    border-top: 1px solid salmon;
    margin: 77px 0 0 0;
    border-bottom: 1px solid black;

}

#nav button {
    padding: 6px 6px;
}

.goods_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 400px 400px;
    grid-auto-rows: 400px;
    grid-gap: 5px 5px;
    border: 1px solid black;
    padding: 5px;
}

div.goods_card {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    content: inherit;

}

div.goods_card {
    >img {
        padding: 5px;
        align-self: auto;
        max-width: 90%;
        box-sizing: border-box;
    }

}

div#tabdiv {
    border: 1px double $green;

    >div.tabs input {
        padding: 4px;
        outline: none;

    }

    >div#London {
        background-color: $green;


    }

    >div#Tokyo {
        background-color: blue;

    }

    >div#Rome {
        background-color: green;
    }
}

.tabcontent {
    margin: 0 auto;
    color: white;

}

.tabcontent h3 {
    margin: 0 auto;
}



.tabs input {
    border: none;

}

.accordion {
    padding: 15px;
    background-color: #eee;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}

.accordion:hover {
    background-color: #ccc;
    transition: 0.4s;
}

.panel {
    transition: 0.4s;
    padding: 0 18px;
    display: none;
}


.topnav {
    background-color: #838383;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 47px;
    line-height: 47px;
    transition: 0.5s;
}

a.icon {
    padding: 10px 10px;
    display: none;
    width: 47px;
    height: 47px;
}

.icon span {
    position: relative;
    top: 20px;
    left: 10px;
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

.icon span::before,
.icon span::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px;
    height: 4px;
    background-color: rgb(253, 253, 253);
}

.icon span::after {
    top: 10px;
    
}

@media screen and (max-width:700px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        transition: 1s;
    }
}

.active {
    background-color: lawngreen;
    color: black;
}

a.active {
    background-color: lawngreen;
    color: black;
}


.valid {
    background-color: lawngreen;
}

.invalid {
    background-color: pink;

}

.sticky {
    position: fixed;
    transition: 0.4s;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    text-align: center;
    width: 14%;
    border: 1px solid red;
    padding: 1.5rem;
    // flex-wrap: wrap;
    height: auto;
    flex:1 1 auto;
}

.container div:nth-child(odd) {
    background-color: blue;
    color: white;
}

.container div:nth-child(1) {
    width: 100%;
    align-self: baseline;
}

.container div:nth-child(2) {
justify-self: stretch;
    align-self: stretch;
}

.container div:nth-child(3) {
    width: 80%;
    align-self: stretch;
    justify-self: stretch;
    
}

.container div:nth-child(4) {
    align-self: flex-end;
    justify-self: stretch;
}
.container div:nth-child(5) {
    align-self: flex-end;
    justify-self: stretch;
}

.left {
    background-color: $green;
}

.right {
    background-color: $green;

}

#filterCont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
    grid-gap: 10px;
}

.content {
    border: 1px double black;
    font-size: 44px;
    text-align: center;
    line-height: 200px;
    display: none;
    border-radius: 4px;
    background-color: blueviolet;
}

.content:nth-child(odd) {
    background-color: peru;
}

.show {
    display: block;
}

#loader {
    display: none;
}

#newFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#header,
#navflex,
#main,
#footer {
    margin: 5px;
    font-size: 44px;
    text-align: center;
}

#header {
    vertical-align: auto;
    width: 100%;
    background-color: orange;
    border: 1px solid rgb(7, 3, 3);
    flex: 1 1 auto;
 line-height: 160px;
}

#navflex {
 flex:  1 1 20%;
    height: auto;
    align-self: stretch;
    background-color: orange;
    border: 1px solid rgb(10, 6, 6);
    
}

#main {
    border: 1px solid rgb(33, 76, 216);

flex: 1 6 70%;    
width: 100%;
}


#footer {
    justify-self: stretch;
    border: 1px solid rgb(33, 76, 216);
width: 100%;
height: auto;
  
}
@media all and (max-width:640px) {
#newFlex {
    flex-direction: column;
}
#header,#footer {
    min-height: 15vh;
}
}
#counter { 
    font-size: 55px;
    position: absolute;
    top: 0px;
    left: 300px;

}
// =============================== file ==================
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
  input.visually-hidden:focus + label {
    outline: thin dotted;
  }
  input.visually-hidden:focus-within + label {
    outline: thin dotted;
  }
  #canvas600{
      border: 1px groove black;
  }