$green: red;

#nav {
    padding: 10px 10px;
    border-top: 1px solid salmon;
    margin: 77px 0 0 0;
    border-bottom: 1px solid black;

}

#nav button {
    padding: 6px 6px;
}

.goods_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 400px 400px;
    grid-auto-rows: 400px;
    grid-gap: 5px 5px;
    border: 1px solid black;
    padding: 5px;
}

div.goods_card {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    content: inherit;

}

div.goods_card {
    >img {
        padding: 5px;
        align-self: auto;
       max-width: 90%;
       box-sizing: border-box;
    }

}

div#tabdiv {
    border: 1px double $green;

    >div.tabs input {
        padding: 4px;
        outline: none;

    }

    >div#London {
        background-color: $green;


    }

    >div#Tokyo {
        background-color: blue;

    }

    >div#Rome {
        background-color: green;
    }
}

.tabcontent {
    margin: 0 auto;
    color: white;

}

.tabcontent h3 {
    margin: 0 auto;
}



.tabs input {
    border: none;

}

.accordion {
    padding: 15px;
    background-color: #eee;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}

.accordion:hover {
    background-color: #ccc;
    transition: 0.4s;
}

.panel {
    transition: 0.4s;
    padding: 0 18px;
    display: none;
}

.show {
    display: block;
}

.topnav {
    background-color: #838383;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 47px;
    line-height: 47px;
    transition: 0.5s;
}

a.icon {
    padding: 10px 10px;
    display: none;
    width: 47px;
    height: 47px;
}

.icon span {
    position: relative;
    top: 20px;
    left: 10px;
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

.icon span::before,
.icon span::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px;
    height: 4px;
    background-color: rgb(253, 253, 253);
}

.icon span::after {
    top: 10px;
}

@media screen and (max-width:700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon{
      float: right;
      display: block;
  }
  .topnav.responsive a.icon {
  position: absolute;
  top:0;
  right:0;
}
  .topnav.responsive a{
      float:none;
      display: block;
      transition: 1s;
  }
}
.active {
    background-color: lawngreen;
    color: black;
}

a.active {
    background-color: lawngreen;
    color: black;
}
