.pool {
    display: block;
    padding: 10px;
    width: 100%;
    height: 300px;
}

.el {
    width: 24%;
    height: 50%;
    float: left;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    text-align: center;
    font-size: 36px;
    line-height: 130px;

}

.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    font-size: 32px;
    margin: 3px;
    left: 150px;
    top: 200px;
}

.alert1 {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    font-size: 32px;
    margin: 3px;
}

.newalert {
    display: block;
    position: fixed;
    top: 10%;
     left:  250px;
    border-radius: 14px;
    padding: 115px 125px;
    text-align: center;
    border: 3px double #ffffff;
float: left;
    color: #fff;
    background-color: #f10c6c;
    font-size: 42px;
    margin: 3px;
 
   

}
@media (max-width: 880px) {
    .newalert {
        
        display: block;
        position: fixed;
        top: 40%;
     
        right: 10%;
        border-radius: 14px;
        padding: 15px ;
        text-align: center;
        border: 3px double #ffffff;
    /* float: left; */
        color: #fff;
        background-color: #f10c6c;
        font-size: 22px;
        margin: 3px;
    }

 
} 

.hide {
    display: none;
}
    #spanhide {
position: relative;
top: -110px;
right: -110px;
clear: both;

    }
    #spanhide:hover {
position: relative;
top: -110px;
right: -110px;
clear: both;
border-radius: 50%;
color: rgb(255, 255, 255);
cursor: pointer;
    }
   

/* li:nth-child(odd){
    background-color: #3e5535;
color : white;
} */
.goods-wrap {

    float: left;
    border: 2px solid black;
}

.goods-card {
    /* width: 284px;     */
    padding: 15px;
    float: left;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}

.goods-card img {
    float: left;
    display: block;
    margin: auto;
    align-self: auto;
}

input[type="button"] {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    border: 1px solid white;
    border-radius: 8px/8px;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 168, 30);
}

input[type="button"]:hover {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    border-radius: 8px/8px;
    color: white;
    background-color: rgb(13, 153, 158);
}

#answerbutton {
    padding: 10px;
}

h1 {
    clear: both;
    font-size: 16px;
}

.val {
    font-size: 22px;
}

.plus {
    font-size: 22px;
}

#c1 {
    font-size: 44px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(223, 86, 86, 0.5);
}
span:hover {
background-color: #f10c6c;
}
.modal-content {
    width: 90%;
    max-width: 100%;
    background-color: azure;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    /* font-size: 30px; */
    position: relative;
    top: 200px;
}

.close {
    float: right;
    font-size: 28px;

}

p #timer {
    font-size: 36px;
}

#keyboard {

    display: inline-block;
    flex-flow: wrap;
    position: fixed;
    bottom: 100px;
    left: calc(30%);
    border: 1px solid black;
    /* width: 375px; */
    align-content: center;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.keyb {
    border: 1px solid black;
    border-radius: 4px;
    float: left;
    margin: 5px 0px 5px 5px;

    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}

.k-key:hover {
    background-color: antiquewhite;
    border: 1px solid black;
    float: left;
    margin: 5px 0px 5px 5px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}

.clearfix {
    display: block;
    clear: both;
    width: 100%;
}

.active {
    background-color: aqua;
}

#field {
    position: relative;
    width: 200px;
    background-color: greenyellow;
    border: 5px solid black;

}

#ball {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 1s;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}
.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
  }
.menu.open .title::before {
    content: '▼ ';
  }
  
  .menu.open ul {
    display: block;
}

.menu-item {
    width: 100px;
    margin: 0;
    box-sizing: content-box;
    border: 2px solid red; 
    display: block; 
    position: relative;
    font-size: 24px;
    
}
.menu-item .submenu {
    height: auto;  
    width: auto;
    background: greenyellow;
    display: none;
}
.submenu a {
    width: 120px;
    height: 32px;
}