<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Signup page</h1>
    <div>
        <table>
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Password</td>
            </tr>
            <tr>
                <td><input type="password"></td>
            </tr>
        </table>
        <input type="button" value="Sign up!" id="btn">
        <hr>
        <a href="/login"><input type="button" value="Go to login page"></input></a>
    </div>
    <p></p>
    <script>
        window.onload = function () {
            let btn = document.querySelector('#btn');
            btn.onclick = function () {
                let inputs = document.querySelectorAll('input');
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/signup');
                let data = {
                    username: inputs[0].value,
                    password: inputs[1].value
                }
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(data));
                xhr.onload = function () {
                    document.querySelector('p').innerHTML = this.responseText;
                }
            }
        }
    </script>
</body>

</html>