.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 5vw;
  width: auto;
  &-sign {
    width: 10rem;
    height: 10rem;
    background-color: #f14242;
    border-radius: 50%;
  }
  &-sign::before,&-sign::after {
    content: "";
    display: block;
    position: relative;
    top: 4.5rem;
    left: 2.5rem;
    background-color: #ffffff;
    width: 5rem;
    height: 1rem;
    transform: rotate(45deg);
}
&-sign::after{
    top: 3.5rem;
    width: 5rem;
    height: 1rem;
    background-color: #ffffff;
    transform: rotate(-45deg);
    
  }
}
