div{
    text-align: center;
}
.section-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0 0;
  text-align: center;
}

.section-gallery img {
  opacity: 0.8;
  flex: 3 1 30%;
}

.image{
text-align: center;
    border:3px solid red;
    padding: 8rem 11rem;
    font-size: 2rem;
}

.section-gallery img:hover {
  opacity: 1;
}