div {
  text-align: center;
}
.section-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0 0;
  text-align: center;
}
.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: rgba($color: #ffe0e0, $alpha: 0.4);
}

.section-gallery img {
  flex: 30%;
}

.image {
  text-align: center;
  border: 1px solid black;
  padding: 8rem 11rem;
  font-size: 2rem;
margin: 0.5rem 0.5rem;
position: relative;
}

@media screen and (max-width: 765px) {
  .section-gallery {
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
    .image {
      margin: 1rem 0;
    }
  }
}
