<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
<title>App</title> 
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>  

      <h1>TO DO list</h1>
      
      <table>
        <thead>
          <tr>
            <td>NAME</td>
            <td>DESCRIPTION</td>
            <td>COMPLETED</td>
          </tr>
        </thead>
        <tbody>
          <%- data %>
        </tbody>
      </table>
    
<%- buttons ? '	<a href="add" class="">Add item!</a><a href="/" class="">Done!</a>' 
			    : ' <a href="edit" class="">Edit items!</a>' %>


  <script>
	window.onload = function() { 

		var tbody = document.querySelector('tbody')
		console.log(tbody);
		

		tbody.addEventListener('click', function(e) {


			if (e.target.hasAttribute('id')) { 

				if (e.target.classList.contains('edit')) {

					var xhr = new XMLHttpRequest(); 
					xhr.open('GET',e.target.id); 
					xhr.send(); 

					xhr.onload = function() {
						location.href = 'http://localhost:8080/edit/' + e.target.id; 
					}
				
				} else if (e.target.classList.contains('delete')) {
					var xhr = new XMLHttpRequest(); 
					
					xhr.open('DELETE', '/edit/' + e.target.id); 
					xhr.send(); 
					xhr.onload = function() {
						location.href = 'http://localhost:8080/';  
						console.log('item deleted'); 
					}					
				}
			}
		})
	}
</script>
  </body>
</html>
